---
import { LightRays } from "./ui/light-rays";
import { Marquee } from "./ui/marquee";
import Repo from "./ui/Repo";
async function getRepositoryInformation(repo: string) {
    const [owner, name] = repo.split("/");
    const QUERY = `query {
    repository(owner: "${owner}", name: "${name}") {
      name
      description
      url
      homepageUrl
      openGraphImageUrl
      isPrivate
      stargazerCount
      forkCount
      updatedAt
      primaryLanguage {
        name
        color
      }
      languages(first: 5) {
        nodes {
          name
        }
      }
    }
  }`;
    const res = await fetch("https://api.github.com/graphql", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
            Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}`,
        },
        body: JSON.stringify({ query: QUERY }),
    });
    const json = await res.json();
    console.log(json);
    const repository = json.data.repository;

    return {
        name: repository.name,
        body: repository.description || "",
        language: repository.primaryLanguage?.name,
        languageColor: repository.primaryLanguage?.color,
        starCount: repository.stargazerCount,
        forkCount: repository.forkCount,
        isPublic: !repository.isPrivate,
        updatedAt: repository.updatedAt,
    };
}

async function getAllRepositories() {
    const QUERY = `query {
    viewer {
      repositories(first: 100, ownerAffiliations: OWNER, isFork: false, orderBy: {field: UPDATED_AT, direction: DESC}) {
        nodes {
          name
          description
          url
          homepageUrl
          openGraphImageUrl
          isPrivate
          stargazerCount
          forkCount
          updatedAt
          primaryLanguage {
            name
            color
          }
          languages(first: 5) {
            nodes {
              name
            }
          }
        }
      }
    }
  }`;

    const res = await fetch("https://api.github.com/graphql", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
            Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}`,
        },
        body: JSON.stringify({ query: QUERY }),
    });

    const json = await res.json();
    console.log(json);

    const repos = json.data.viewer.repositories.nodes;

    return repos
        .filter((repo: any) => repo.stargazerCount >= 1)
        .map((repo: any) => ({
            name: repo.name,
            body: repo.description || "",
            language: repo.primaryLanguage?.name,
            languageColor: repo.primaryLanguage?.color,
            starCount: repo.stargazerCount,
            forkCount: repo.forkCount,
            isPublic: !repo.isPrivate,
            updatedAt: repo.updatedAt,
        }));
}

const repositories = await getAllRepositories();

const firstRow = repositories.slice(0, repositories.length / 2);
const secondRow = repositories.slice(repositories.length / 2);
---

<!-- <Font cssVariable="--font-inter" preload /> -->
<div class="h-screen w-full rounded-lg">
    <div
        class="relative flex w-full flex-col items-center justify-center overflow-hidden"
    >
        <Marquee client:only pauseOnHover className="[--duration:120s]">
            {firstRow.map((review) => <Repo client:only {...review} />)}
        </Marquee>
        <Marquee client:only reverse pauseOnHover className="[--duration:120s]">
            {secondRow.map((review) => <Repo client:only {...review} />)}
        </Marquee>
        <div
            class="from-background pointer-events-none absolute inset-y-0 left-0 w-1/4 bg-gradient-to-r"
        >
        </div>
        <div
            class="from-background pointer-events-none absolute inset-y-0 right-0 w-1/4 bg-gradient-to-l"
        >
        </div>
    </div>
    <LightRays />
</div>
